#header,
#footer,
.Hero.WelcomeHero,
#app-navigation,
.IndexPage-nav.sideNav,
.mobilelogo,
.MobileTab,
.IndexPage-toolbar {
  display: none !important;
}
.App {
  padding-top: 0px !important;
}
