.tb-mcq input[type=radio] {
    display: none
}

.tb-mcq input[type=radio]+label {
    display: inline-block;
    width: 100%;
    padding: 10px;
    border: 2px solid #ddd;
    border-radius: 7px;
    margin-bottom: 10px;
    cursor: pointer
}

.tb-mcq input[type=radio]+label:hover {
    border-color: #2196f2;
}

.tb-mcq input[type=radio]:checked+label {
    background-image: none;
    background-color: green;
    color: #fff;
    -webkit-transition: all .1s ease-in-out;
    -moz-transition: all .1s ease-in-out;
    -o-transition: all .1s ease-in-out;
    -ms-transition: all .1s ease-in-out;
    transition: all .1s ease-in-out
}

.tb-wrng {
    background-color: #FF0000;
    color: #fff;
    -webkit-transition: all .1s ease-in-out;
    -moz-transition: all .1s ease-in-out;
    -o-transition: all .1s ease-in-out;
    -ms-transition: all .1s ease-in-out;
    transition: all .1s ease-in-out
}

@media print {
    .tb-mcq label[for^="q"] {
        background-color: green;
        color: #fff;
    }

    .tb-mcq label:not([for^="q"]) {
        background-color: red;
        color: #fff;
    }
}

.showall-true label[for^="q"] {
    background-color: green;
    color: #fff;
}

.showall-true label:not([for^="q"]) {
    background-color: red;
    color: #fff;
}